:root{
  --size: 100px;
  --tile: rgb(31, 30, 30);
  --correct: rgb(173, 173, 175);
}
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Dancing+Script:wght@500;600&family=Mooli&family=Pacifico&family=Pixelify+Sans&family=Young+Serif&display=swap');
html,body{
  
  /* background-color: wheat; */
  background: url("https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1410.jpg?w=996&t=st=1699531140~exp=1699531740~hmac=b116fe55ba781590332f0d2d96c3fd5ad3bb739083474dbc53557101a672feba");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding:0;
}
.App{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: 'Pacifico', cursive;
}
.App * {font-family: 'Pacifico', cursive;}